<mat-card class="card" id="card-1" appearance="outlined">
  <mat-card-header>
    <div class="grid-container">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search Users</mat-label>
          <mat-icon matSuffix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterInput" name="stam" placeholder="" #input />
        </mat-form-field>
      </form>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="dataSource$ | async; let dataSource">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>type</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.user_type.type }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>enabled</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.enabled }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="display name">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>display name</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.ad_display_name }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="last log on time">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>last log on time</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.last_logon_time | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="created date">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>created date</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.created_date | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="smart card logon required">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>smart card logon required</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.smart_card_logon_required }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="password not required">
          <th mat-header-cell *matHeaderCellDef>
            <div class="col">
              <p>password not required</p>
            </div>
          </th>
          <td mat-cell *matCellDef="let element" class="col">
            {{ element.password_not_required }}
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    </mat-card-content>
    <div *ngIf="totalItems$ | async; let totalItems">
      <mat-paginator 
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
</mat-card>
