<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div class="row title">
      <div class="icon">
        <mat-icon id="supervisor-account">supervisor_account</mat-icon>
      </div>
      <mat-card-title id="card-title">Summary</mat-card-title>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div class="summary">
      <div class="row">
        <div class="item item-1">
          <h2>{{ totalUsers }}</h2>
          <h4>Total user in AD</h4>
        </div>

        <div class="item item-2">
          <h2>{{ enforcedUsers }}</h2>
          <h4>enforced users in AD</h4>
          <mat-progress-bar
            mode="determinate"
            [value]="enforcedUsersPresent"
          ></mat-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="item item-3" *ngIf="inactiveUsers$ | async; let inactiveUsers">
          <h2>{{ inactiveUsers }}</h2>
          <h4>inactive users in last 3 month</h4>
          <mat-progress-bar
            mode="determinate"
            [value]="inactiveUsersPresent"
          ></mat-progress-bar>
        </div>
        <div class="item item-4">
          <h2>{{ disabledUsers }}</h2>
          <h4>disabled users in AD</h4>
          <mat-progress-bar
            mode="determinate"
            [value]="disabledUsersPresent"
          ></mat-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="item item-5">
          <h2>{{ activeUsers }}</h2>
          <h4>active users (last 3 month)</h4>
          <mat-progress-bar
            mode="determinate"
            [value]="activeUsersPresent"
          ></mat-progress-bar>
        </div>

        <div class="item item-6">
          <h2>{{ notEnforcedUsers }}</h2>
          <h4>not enforced users in AD</h4>
          <mat-progress-bar
            mode="determinate"
            [value]="notEnforcedUsersPresent"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
