.col {
  display: flex;
  // justify-content:space-between
  // align-items:stretch
  // flex-grow: 1;
  // flex-grow: 1;
  // flex-direction: row-reverse;
  // flex-flow: row;
}

.tool-bar {
  flex: 1;
}

.page {
  flex: 10;
}

// .content {
//   display: flex;
// }

// .main {
//   display: flex;
// }